body{
    margin-top:0px;
}
.products_container{
    margin-top:50px;
    margin-left: 150px;
    box-shadow: 0 0 5px rgba(0,0,0,.05), 6px 5px 5px rgba(0,0,0,.1);
    border-radius: 4px;
}
.card{
    margin: 16px 0;
    box-shadow: 0 0 5px rgba(0,0,0,.05), 6px 5px 5px rgba(0,0,0,.1);
    border-radius: 4px;
    padding: 16px;
    width: 250px;
    height: 400px;
    margin-right:80px;
    float : left;
}

#desc{
    overflow: hidden;
    width:200px;
    height:20px;
    text-overflow: ellipsis;
}


.categorySection{
    margin-top:10px;
}

img#product_image {
    max-width: 100%;
    max-height: 80%;
    transition: 1s;
    justify-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#product_image:hover{
    transform: scale(1.3);
}

#sort-button {
    position: absolute; 
    right:10px;
    top:50px;
    height:3%;
}