body{
    background-color: rgba(3, 0, 45, 0);
}

                        /* DropDown specific styling */

select{
    margin-left : 20px;
    width : 200px;
    font-size : medium;
    text-overflow: ellipsis;
	padding: 0.6em 2em;
    border: none;
    outline: none;
    color: grey;
    background: rgb(207, 201, 201);
    cursor: pointer;
    position: absolute;
    z-index: 0;
    border-radius: 25px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
	transition: 0.8s;
}

select:hover{
    background-color: grey;
    color:white;
}
  



                        /* Search functionality specific styling */

#search_button{
	position: absolute; 
	right:10px;
	height:23%;
}

#search_val{

    margin-left : 20px;
    width:20%;
    height:23%;
    right:60px;
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    background: rgb(207, 201, 201);
    cursor: pointer;
    position: absolute;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
	transition: 0.8s;
}

#search_val:focus{
    background-color: grey;
    color:white;
}


#search_button {
	padding: 0.6em 1em;
	border: none;
	outline: none;
	color: rgb(255, 255, 255);
	background: #111;
	cursor: pointer;
	position: absolute;
	z-index: 0;
	border-radius: 10px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

#search_button:before {
	content: "";
	background: linear-gradient(
		45deg,
		#ff0000,
		#ff7300,
		#fffb00,
		#48ff00,
		#00ffd5,
		#002bff,
		#7a00ff,
		#ff00c8,
		#ff0000
	);
	position: absolute;
	top: -2px;
	right: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	-webkit-filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing-button-85 20s linear infinite;
	transition: opacity 0.3s ease-in-out;
	border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#search_button:after {
	z-index: -1;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: #222;
	left: 0;
	top: 0;
	border-radius: 10px;
}


                        /* Category specific styling */

.exp-button{
    
    margin-left : 20px;
    width:7%;
    font-size:medium;
    text-overflow: ellipsis;
    left:440px;
	padding: 0.6em 2em;
    border: none;
    outline: none;
    color: grey;
    background: rgb(207, 201, 201);
    cursor: pointer;
    position: absolute;
    z-index: 0;
    border-radius: 25px;
    user-select: none;
    -webkit-user-select: none;
	transition: 0.8s;
    touch-action: manipulation;
}

.exp-button:hover{
    background-color: grey;
    color:white;
}

  

  